<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656595301587-6tenuoin4lo8ib4a8tl91uujqtsktrb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656595301587-6tenuoin4lo8ib4a8tl91uujqtsktrb0</string>
	<key>API_KEY</key>
	<string>AIzaSyAGGFxBIOhOnWXZ1zdfrxxk-jJhwn6HJsE</string>
	<key>GCM_SENDER_ID</key>
	<string>656595301587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solverticsrl.bdPruebaFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bd-prueba-c9d15</string>
	<key>STORAGE_BUCKET</key>
	<string>bd-prueba-c9d15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656595301587:ios:34601825658abdd46d9026</string>
</dict>
</plist>